
@{
    ViewBag.Title = "GroupView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <title>Ссылки группы</title>
</head>
<body>
    <h2>Ссылки в группе @ViewBag.Group.Name</h2>
    <div>
        <table>
            <tr>
                <td class="rest"><p>Оригинальная ссылка</p></td>
                <td class="rest"><p>Сокращенная ссылка</p></td>
                <td class="rest"><p>Владелец ссылки</p></td>
                <td class="rest"><p>Ссылка активна</p></td>
            </tr>
            @{ foreach (var b in ViewBag.Links)
                {
                    if (b.GroupId == ViewBag.Group.GroupId)
                    {
                        <tr>
                            <td class="rest"><p class="link">@b.OriginLink</p></td>
                            <td class="rest"><a href="@b.ShortedLink">@b.ShortedLink</a></td>
                            <td class="rest"><p>@b.Login</p></td>
                            @if (b.IsActive)
                            {
                                <td class="rest"><p><a href="/Home/SwitchActive/@b.LinkId">Активна</a></p></td>
                            }
                            @if (!b.IsActive)
                            {
                                <td class="rest"><p><a href="/Home/SwitchActive/@b.LinkId">He aктивна</a></p></td>
                            }
                        </tr>
                    }
                }
            }
        </table>
    </div>
</body>

